.stepContainer {
    text-align: left;
    font-weight: 600;
    color: blue;
    white-space: nowrap;
}


.stepBullet {
    text-align: center;
    margin: auto;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    border-radius: 5px;
    background-color: blue;
    color: white;
    margin-right: 7px;
}

.stepUndone {
    text-align: left;
    font-weight: 600;
    color: grey;
    white-space: nowrap;
}

.stepUnselected {
    text-align: center;
    margin: auto;
    display: inline-block;
    height: 1.5em;
    width: 1.5em;
    border-radius: 5px;
    margin-right: 7px;
    line-height: 24px;
    padding-top: 6px;
    padding-bottom: 6px;

}

.stepLink {
    text-align: center;
    margin: auto;
    display: inline-block;
    padding-left: 0px;
    font-weight: 600;
    color: blue;
    text-decoration: none;

}

.reportTypeImage {
    width: 108;
    height: 108;
    margin: auto;
}

.hidden {
    visibility: hidden;
}

.imageCase {
    /* background-image: url("/images/rectangle.png");
    width: 200px;
    height: 200px;
    border: solid 2px blue;
    padding: 40px;
    text-align: center;
    margin: auto; */
    border: 2px solid #517BCC;
    position: relative;
    background: #e6eeff;
}

.imageCaseHidden {
    /* border: solid 2px transparent;
    width: 200px;
    height: 200px;
    padding: 40px;
    text-align: center;
    margin: auto; */
    border: 2px solid #FFF;
    position: relative;
}

.rdoSpan {
    white-space: nowrap;
    margin-right: 20px;
    display: inline-block;
}

.rdoCheck {
    margin-right: 5px;
}

.row {
    margin-bottom: 10px !important;
}

.col {
    margin-bottom: 10px !important;
}

.doneImage {
    /* position: absolute;
    left: 54.96%;
    right: 27.64%;
    top: 19.55%;
    bottom: 40.68%; */
    background: #FFFFFF;
}

.doneImage .test {
    position: absolute;
    width: 800px;
    display: block;
    border: solid 10x black;
}

.doneMessage {
    position: absolute;
    left: -100px;
    width: 400px;
    display: block;
    border: solid 10x black;
    text-align: center;
    padding: 20px;
}

.doneButtonL {
    text-align: right;
    padding-right: 10px;
}

.doneButtonR {
    text-align: left;
    padding-left: 10px;
}