.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.container {
  max-width: 100% !important;
}

body {
  font-family: 'Roboto', sans-serif;
  /* padding-top: 102px; */
}

/*Breadcrumb*/

.breadcrumb {
  margin-bottom: 16px;
}

.breadcrumb ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb ul li {
  /* display: inline-block; */
  float: left;
  padding: 8px 16px;
}

.breadcrumb ul li a {
  padding: 0;
}

.back {
  background: #F1F1F1;
  padding: 0 !important;
}

.back a {
  display: block;
  text-indent: -999999px;
  width: 40px;
  height: 40px;
}

.subtitle {
  font-size: 24px;
  color: #517BCC;
  padding-top: 30px;
  padding-bottom: 15px;
}

.companyform {
  padding-top: 40px;
}

.chkox {
  border: 2px solid #E0E0E0;
  padding: 10px 15px;
  max-width: 100%;
}

.chkox input[type="checkbox"] {
  float: right;
}

.chkox .form-check {
  padding-left: 0;
}

/*Modal*/

.modal-title.h4 {
  color: #747474;
  font-weight: 400;
  font-size: 24px;
}

.modal-header {
  border-bottom: 0 !important;
  padding: 30px 40px 10px;
}

.modal-footer {
  border-top: 0 !important;
  padding-right: 40px;
  padding-bottom: 40px;
}

/*Navigation*/
.header {
  min-height: 92px;
}

.header_wrap {
  /* min-height: 102px; */
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 9;
}

header {
  border-bottom: 1px solid #F2F2F2;
  /* padding: 7px 0; */
  /* margin-bottom: 20px; */
  /* position: absolute; */
  /* width: 100%; */
  background: #FFF;
  /* top: 0; */
  /* left: 0; */
  /* z-index: 9; */
  min-height: 72px;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.logo_wrap {
  margin-right: 50px;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
}

/*User navigation*/

.user_nav {
  text-align: right !important;
  padding-top: 15px;
}

.user_nav .hello, .user_nav .dropdown {
  display: inline-block;
}

.user_nav .hello {
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto', sans-serif !important;
  color: #555B6E;
}

.status_header {
  position: absolute;
  top: 1em;
  left: 70%;
  color: red;
}

.company_wrap {
  background: #FAFAFA;
  position: relative;
  padding: 16px;
}

.edit_company {
  position: absolute;
  top: 16px;
  right: 16px;
}

.add_company {
  position: absolute;
  top: -50px;
  right: 0px;
}

h1 {
  font-size: 56px !important;
  color: #517BCC !important;
  font-weight: 500 !important;
  font-family: 'Roboto', sans-serif !important;
}

.welcome, .subheading {
  font-size: 36px;
  color: #747474;
}

.gmsg {
  font-size: 18px;
  color: #747474;
  margin-bottom: 25px;
}

.form_wrap label {
  display: none;
}

.form_wrap button {
  width: 100%;
  margin-top: 25px;
}

.center_nav {
  text-align: center;
}

.logowrap {
  margin-bottom: 25px;
}

.msgwrap {
  background: #E6EEFF;
  color: #517BCC;
  font-size: 18px;
  padding: 10px 15px;
  margin-bottom: 30px;
}

h2 {
  color: #406DCD;
  font-size: 26px;
}

h4 {
  font-size: 24px;
  color: #465168;
}

/**Label and forms*/

label {
  font-size: 14px;
}

input[type=text] {
  font-size: 14px;
  line-height: 27px;
  background: #fff;
}

.search {
  margin-bottom: 15px;
}

.search input[type=text] {
  max-width: 507px;
}

.search label {
  display: none;
}

.srch_status {
  display: inline-block;
  margin-right: 20px;
  width: 125px;
}

.srch_status .rs-picker-toggle-wrapper {
  padding: 2px 0 3px;
}

/*Buttons*/
.btn1 {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.viewmore {
  background: #E6EEFF;
  font-family: Roboto;
  font-style: Medium;
  font-size: 14px;
  color: #406DCD;
  padding: 2px 10px;
}

.accept {
  background: #F0FFF3;
  font-family: Roboto;
  font-style: Medium;
  font-size: 14px;
  color: #388F46;
  padding: 2px 10px;
}

.addbtn {
  padding: 8px 20px;
  background: #406DCD;
  color: #FFF;
  font-size: 14px;
  width: 12em;
  font-weight: 500;
  font-size: 16px;
}

.order_new_report {
  background: #406DCD url(/icons/order_new_credit_report.svg) 11px 9px no-repeat;
  background-size: 19px;
  padding: 7px 20px 8px 40px;
  width: auto;
}

.order_report_right.edit_form {
  max-width: 864px;
  margin: auto;
  padding: 30px 15px;
}

.resetPassBtn {
  padding: 8px 20px;
  background: #406DCD;
  color: #FFF;
  font-size: 14px;
}

.changePassBtn {
  padding: 8px 20px;
  background: #406DCD;
  color: #FFF;
  font-size: 14px;
}

.btnedit {
  background: #FFF;
  border: 1px solid #406DCD;
  color: #406DCD;
}

.btnedit1 {
  background: #FFF;
  border: 2px solid #406DCD;
  color: #406DCD;
}

.btn_light {
  background: #FFF;
  border: 1px solid #E0E0E0;
  color: #406DCD;
}

.btnremove {
  background: #FFF;
  border: 1px solid #CF5A5A;
  color: #CF5A5A;
}

.btndelete {
  background: #FFE6E6;
  /* border: 1px solid #CF5A5A; */
  color: #CF5A5A;
  padding: 1px 11px;
}

.legal_upload {
  font-size: 16px;
  padding: 12px 32px 12px 64px;
  color: #FFF;
  background: #517BCC url(/icons/upload-white.svg) 16px 12px no-repeat;
  background-size: 20px;
}

.bottom_gap {
  margin-bottom: 24px;
}

.inactivebtn {
  background: #CF5A5A;
  font-family: Roboto;
  /* font-style: Medium; */
  font-size: 14px;
  color: #FFF;
  padding: 1px 6px;
}

.canceled,
.download,
.incorporate,
.bank,
.bank_error,
.incorporate_download,
.bank_download,
.legal,
.supplier_download,
.supplier,
.new,
.processing,
.completed,
.upload,
.need_action {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
}



.incorporate.warning {
  color: black
}


.status1 .or_processing {
  background: #F1F1F1 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #747474;
}

.status2 .or_processing {
  background: #FFF5E3 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #E97A15;
}

.status3 .or_processing {
  background: #FFE6E6 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #CF5A5A;
}

.status5 .or_processing {
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #388F46;
}

.status6 .or_processing {
  background: #F1F1F1 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #747474;
}


.status1 .or_success {
  background: #F1F1F1 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #747474;
}

.status2 .or_success {
  background: #FFF5E3 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #E97A15;
}

.status3 .or_success {
  background: #FFE6E6 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #CF5A5A;
}

.status5 .or_success {
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #388F46;
}

.status6 .or_success {
  background: #F1F1F1 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #747474;
}


.status1 .or_error {
  background: #F1F1F1 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #747474;
}

.status2 .or_error {
  background: #FFF5E3 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #E97A15;
}

.status3 .or_error {
  background: #FFE6E6 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #CF5A5A;
}

.status5 .or_error {
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #388F46;
}

.status6 .or_error {
  background: #F1F1F1 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #747474;
}


.status1 .or_pending {
  background: #F1F1F1 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #747474;
}

.status2 .or_pending {
  background: #FFF5E3 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #E97A15;
}

.status3 .or_pending {
  background: #FFE6E6 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #CF5A5A;
}

.status5 .or_pending {
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #388F46;
}

.status6 .or_pending {
  background: #F1F1F1 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #747474;
}


.status1 .or_cancelled {
  background: #F1F1F1 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #747474;
}

.status2 .or_cancelled {
  background: #FFF5E3 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #E97A15;
}

.status3 .or_cancelled {
  background: #FFE6E6 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #CF5A5A;
}

.status5 .or_cancelled {
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #388F46;
}

.status6 .or_cancelled {
  background: #F1F1F1 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #747474;
}


.status1 .or_new {
  background: #F1F1F1 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #747474;
}

.status2 .or_new {
  background: #FFF5E3 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #E97A15;
}

.status3 .or_new {
  background: #FFE6E6 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #CF5A5A;
}

.status5 .or_new {
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #388F46;
}

.status6 .or_new {
  background: #F1F1F1 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #747474;
}

/* .or_processing {
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #388F46;
} */

/* .or_success {
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #388F46;
} */

/* .or_error {
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #388F46;
} */

/* .or_pending {
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #388F46;
} */

/* .or_cancelled {
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #388F46;
}

.or_new {
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #388F46;
} */

/*-----*/

.download {

  line-height: 21px;
  background: #40B753 url(/icons/download-report-white.svg) 95% 4px no-repeat;
  padding: 2px 34px 2px 10px;
  color: #FFF;
}

.download:disabled {
  background: #F1F1F1 url(/icons/download-report.svg) 95% 4px no-repeat;
  padding: 2px 34px 2px 10px;
  color: #C4C4C4;
}

.upload,
.new,
.processing,
.completed,
.canceled,
.need_action {
  color: #FFF;
  padding: 2px 5px;
}

.incorporate {
  /* color: #CC9326; */
  /* background: #FFFAF0; */
  /* background: #FFFAF0 url(/icons/report-processing.svg) 95% 4px no-repeat; */
  padding: 2px 34px 2px 10px;
}

/* .incorporate_download {
  color: #388F46;
  background: #E6FFEB;
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
  padding: 2px 34px 2px 10px;
} */

.bank {
  color: black
}

.bank_warning {
  color: #CF5A5A;
  background: #FFE6E6 url(/icons/download-report-green.svg) 95% 4px no-repeat;
}

.bank_download {
  color: #388F46;
  /* background: #E6FFEB; */
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
}

.legal {
  color: #388F46;
  /* background: #E6FFEB; */
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
}

.supplier {
  color: #388F46;
  /* background: #E6FFEB; */
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
}


.report-status {
  height: 24px;
  padding: 2px 34px 24px 10px;
  text-align: center;
}

.order-status {
  color: black;
  padding: 0px;
  margin: 0px;
  height: 24px;
}

.upload {
  color: #FFF;
  background: #50C262;
}

.upload.success {
  background: #50C262;
}

.upload.error {
  background: #FF0000;
}

.upload.info {
  background: #FFAA04;
}

.new {
  background: #2875CF;
}

.processing {
  background: #FFA700;
}

.completed {
  background: #40B753;
}

.canceled {
  background: #000;
  color: #FFF;
}

.need_action {
  background: #CF5A5A;
}

.downarrow {
  border: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: #E6EEFF url(/icons/down-arrow.svg) 50% 50% no-repeat;
  background-size: 12px;
}

/* .active {
  border-bottom: 3px solid #517BCC;
} */

.clearB {
  clear: both;
}

.imagewrap {
  float: left;
  width: 95px;
  height: 95px;
  border-radius: 100%;
  overflow: hidden;
  background: #000;
  margin-right: 15px;
  margin-bottom: 15px;
}

.rightdata {
  margin-left: 110px;
  padding-top: 15px;
}

.popupContent {
  padding: 0 25px;
}

.cemail {
  color: black
}

.cphone {
  color: black
}

.subcompany_wrap {
  position: relative;
}

.caddress {
  margin-bottom: 30px;
}

.caddress p {
  margin-bottom: 3px;
}

.colbox2 span {
  width: 200px;
  display: inline-block;
}

.sub-company {
  font-size: 24px;
  font-weight: 400;
  padding-top: 35px;
  margin-bottom: 16px;
}

.subcompany_wrap .company_wrap {
  margin-bottom: 16px;
}

.cemail,
.cphone,
.caddress {
  padding-left: 25px;
  position: relative;
}

.cemail::before,
.cphone::before,
.caddress::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 15px;
  height: 15px;
}


.cemail::before {
  background: url(/icons/Mail.svg) no-repeat;
}

.cphone::before {
  background: url(/icons/Phone.svg) no-repeat;
}

.caddress::before {
  background: url(/icons/Location.svg) no-repeat;
}


/* company form*/

.companyform .row {
  margin-bottom: 16px;
}

.popupform {
  padding: 0 50px;
}

.popupform .row {
  margin-bottom: 16px;
}

/*Grid*/

.listing th {
  color: #4D4D4D;
  font-size: 16px;
  background: #FBFBFB;
  padding: 17px 10px;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  font-weight: 500;
}

.listing th span {
  display: inline-block;
  position: relative;
  padding: 0 10px 0 0;
}

.listing th.sorted span:before,
.listing th.sorted span:after {
  content: "";
  position: absolute;
  right: 0;
  width: 5px;
  height: 5px;

  background-size: 5px !important;
}

.listing th.sorted span:before {
  background: url(/icons/sort-u.svg) no-repeat;
  top: 8px;
}

.listing th.sorted span:after {
  background: url(/icons/sort-d.svg) no-repeat;
  top: 14px;
}

.listing th.sorted.descending span:before {
  background: url(/icons/sort-u.svg) no-repeat;
  top: 10px;
}

.listing th.sorted.descending span::after {
  display: none;
}


.listing th.sorted.ascending span:after {
  background: url(/icons/sort-d.svg) no-repeat;
  top: 10px;
}

.listing th.sorted.ascending span:before {
  display: none;
}

/*   */

.listing td {
  color: #323232;
  font-size: 16px;
  background: #FFF;
  padding: 16px 10px;
  border-bottom: 1px solid #F2F2F2;
  font-family: 'Roboto', sans-serif;

}

.listing.subrow {
  padding: 8px;
  border: solid 1px white;
}

.listing .table-striped>tbody>tr:nth-of-type(odd) {
  --bs-table-accent-bg: #FFF;
  color: #323232;
  border-top: 0px;

}


.listing tr:hover {
  background-color: rgba(31, 31, 109, 0.5)
}

.listing .table> :not(:first-child) {
  border-top: 0px solid currentColor;
}

.table> :not(:last-child)> :last-child>* {
  border-bottom-color: #F2F2F2;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: rgb(255 255 255 / 5%);
  color: #323232;
}

.buttongroups_wrap {
  width: 619px;
}

.buttongroups>div {
  margin-right: 10px;
  float: left;
}

.role {
  display: inline-block;
  max-width: 160px;
  margin-right: 20px;
}

.status {
  display: inline-block;
  /* max-width: 180px; */
  width: 100%;
  margin-right: 20px;
}

.select_date {
  display: inline-block;
  width: initial;
  margin-right: 20px;
}

.select_date .rs-picker-default .rs-picker-toggle.rs-btn {
  height: 41px;
}

.select_date input[type=text] {
  width: 100%;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.f1 {
  display: inline-block;
  max-width: 200px;
  margin-right: 20px;
}

/**Company tab Nav*/

.company_nav_inner, .company_nav {
  border-bottom: 1px solid #E6EEFF;
}

.company_nav {
  margin-bottom: 16px;
}

.company_blocks {
  padding-bottom: 30px;
}

.company_nav_inner .nav-link {
  padding: 16px 25px;
}

.inner_search {
  padding: 15px;
  margin-bottom: 0px !important;
}

.admin_moreinfo button {
  margin-left: 16px;
}

.more_info_wrap table,
.more_info_wrap table td {
  border: 0;
}

.info_price,
.info_unit,
.info_manual {
  font-size: 14px !important;
}


.info_price strong,
.info_unit strong,
.info_manual strong {
  font-size: 16px !important;
}

.info_manual {
  width: 100px;
  color: #517BCC !important;
  width: 120px;
  vertical-align: top;
}

textarea {
  border: 1px solid #517BCC;
}

.modal-footer.flexstart {
  justify-content: flex-start;
}

.info_price {
  width: 150px;
  color: #3B4A68 !important;

}

.info_unit {
  width: 120px;
  color: #517BCC !important;

}

h5 {
  font-size: 18px;
  color: #747474;
}

h6 {
  font-size: 18px;
  color: #3B4A68;
}

p {
  color: #323232;
  font-size: 16px;
}

p.warning {
  color: #CF5A5A;
}

p small {
  color: #3B4A68;
  font-size: 10px;
}

.comments_item_wrap {
  padding: 16px 16px 0;
  height: 200px;
  width: 100%;
  overflow-y: auto;
}

.comments_items {
  background: #FBFBFB;
  padding: 15px;
  border-bottom: 1px solid #F2F2F2;
}

.comments_items:last-child {
  border-bottom: 0;
}

.comments_wrapper {
  padding-top: 15px;
}

.comments_wrapper,
.more_info_wrap {
  background: #FBFBFB;
  border: 1px solid #F2F2F2;
  border-radius: 4px;
}

.comments_wrapper td {
  background: #FBFBFB;
}

.comments_indent {
  padding: 15px 0 !important;
  border-bottom: 0;
}

.comments_indent td {
  border-bottom: 0;
}

.comments_indent h5 {
  margin-bottom: 10px;
}

.post_status_wrap {
  width: 120px;
}

.post_add_wrap {
  width: 60px;
}

.delete_comment {
  float: right;
}

.activities_indent {
  padding: 0px !important;
  padding-top: 20px !important;
}

.activities_wrapper .cr_activity_list {
  list-style: none;
  padding-left: 17px;
  padding-right: 17px;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.activities_wrapper .cr_activity_list .cr_activity_item {
  padding-bottom: 15px;
  border-bottom: 1px solid #dee2e6;
  padding-top: 15px;
}

.activities_wrapper .cr_activity_list .cr_activity_item:last-child {
  /* padding-bottom: 15px; */
  border-bottom: 0px solid #dee2e6;

}

/*My account*/

.myaccount {
  color: black
}

.acc_title {
  color: #517BCC;
  font-size: 20px;
}

.login_name {
  font-size: 24px;
  color: #3B4A68;
}

.acc_email, .acc_phone {
  font-size: 18px;
  color: #3B4A68;
}

.sidebarwrap_inner {
  position: relative;
  min-height: 75vh;
  border: 1px solid #E5E5E5;
  /* padding: 15px; */
}

.sidebarwrap {
  position: relative;
  min-height: 75vh;
  border: 1px solid #E5E5E5;
  padding: 15px;
}

.sidebarwrap .logoutbtn {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.alignBottom {
  position: absolute;
  bottom: 0px;
}

.ac_left {
  float: left;
}

.ac_right {
  float: right;
  padding-bottom: 10px;
}

/* for the dropdown month selector in aging */
.react-datepicker-popper {
  background-color: white;
  border: solid 1px blue;
  padding: 4px;
}

.error {
  background-color: #FFE6E6;
  border: dashed 1px #CF5A5A;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

/*Order new reports*/
.order_reportwrap {
  border-top: 1px solid #F2F2F2;
}

.order_report_right {
  padding-top: 15px;
  padding-bottom: 50px;
  padding-left: 20px;
}

.order_report_left {
  background: #FAFAFA;
  position: relative;
  z-index: 1;
}

.report_steps {
  padding: 100px 0 0px 80px;
  position: fixed;
  left: 0;
  z-index: 9;
}

.report_steps>div {
  padding-bottom: 100px;
}

.select_report {
  margin-bottom: 20px;
  height: 245px;
}

.select_report>div {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  position: relative;
  background: #EFEFEF;
}

.select_report figure {
  text-align: center;
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.select_report caption {
  position: absolute;
  bottom: -50px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #517BCC;
}

.cr-time {
  margin-top: -4px;
  font-size: 12px;
}

.comment-header {
  display: inline-block;
  margin-right: 8px;
}

.cr_status_row td {
  vertical-align: top
}

.external_links_popup {
  background-color: #dddddd;
}

.or_search {
  max-width: 400px;
  margin-bottom: 30px;
}

.or_subtitle,
.or_search label {
  color: #323232;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
}

.or_search input[type="text"] {
  background: url(/icons/Seach.svg) 10px 10px no-repeat;
  padding-left: 35px;
}

.or_check_group {
  margin-bottom: 30px;
}

.or_check_group label {
  color: #747474;
  font-weight: 400;
  padding-right: 50px;
}

.or_select_all label {
  color: #747474;
  font-weight: 400;
}

.upload_cr_app {
  padding-top: 20px;
}

.upload_cr_app label {
  background: url(/icons/upload_blue.svg) 19px 9px no-repeat;
  border: 1px solid #517BCC;
  font-size: 16px;
  color: #517BCC;
  padding: 11px 15px 11px 57px;
}

.upload_cr_app input[type="file"] {
  display: none;
}


.quick_order_wrap {
  border-top: 1px solid #F2F2F2;
  padding-top: 20px;
  color: #517BCC;
}

.quick_order {
  border: 1px solid #517BCC;
  padding: 11px 20px 11px 60px;
  margin-left: 25px;
  background: url(/icons/quick-order.svg) 19px 11px no-repeat;
  color: #517BCC;
}

.or_help {
  background: url(/icons/help.png) 0px 0px no-repeat;
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-left: 20px;
  position: relative;
  top: 5px;
}

.order_report_right .h2 {
  color: General;
  font-size: 22px;
  font-weight: 500;
}

.step2_form label {
  font-size: 14px;
  font-weight: 500;
  color: #747474;
  margin-bottom: 5px;
}

.step2_form input[type=text] {
  background: #F8F8F8;
  border: 1px solid #DDDDDD;
}

.form-group {
  margin-bottom: 20px;
}

.form_head {
  font-size: 24px;
  font-weight: 600;
  color: #555B6E;
}

.or_success_message {
  text-align: center;
  padding: 15px;
  padding-top: 40px;
  max-width: 600px;
  margin: auto;
}

.or_success_message p {
  text-align: center;
  font-size: 18px;
  color: #747474;
}

.imgblockmessage {
  display: block;
  /* max-width: 100%; */
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin: 0px;
  margin: auto;
  width: initial;
  max-width: 300px;
}


.credit-report,
.database-report,
.legal-watchlist,
.groups,
.companies,
.legal-uploads,
.aging {
  background-size: 20px !important;
  padding: 0 3px 0 30px;
  margin-right: 15px;
  position: relative;
  margin-top: 5px;
}

.credit-report a,
.database-report a,
.legal-watchlist a,
.groups a,
.companies a,
.legal-uploads a,
.aging a {
  font-size: 16px;
  color: #969696;
  font-weight: 400;
}

.credit-report.active:before,
.database-report.active:before,
.legal-watchlist.active:before,
.groups.active:before,
.companies.active:before,
.legal-uploads.active:before,
.aging.active:before {
  content: "";
  border-bottom: 3px solid #517BCC;
  position: absolute;
  bottom: -19px;
  left: 0px;
  width: 100%;
}

.groups {
  background: url(/icons/groups_0.svg) 12px 6px no-repeat;
}

.groups.active {
  background: url(/icons/groups.svg) 12px 6px no-repeat;
}

.companies {
  background: url(/icons/companies_0.svg) 12px 6px no-repeat;
}

.companies.active {
  background: url(/icons/companies.svg) 12px 6px no-repeat;
}

.legal-uploads {
  background: url(/icons/legal_upload_0.svg) 12px 10px no-repeat;
  background-size: 17px !important;
}

.legal-uploads.active {
  background: url(/icons/legal_upload.svg) 12px 10px no-repeat;
  background-size: 17px !important;
}

.credit-report {
  background: url(/icons/credit_reports_0.svg) 12px 9px no-repeat;
}

.credit-report.active {
  background: url(/icons/credit_reports.svg) 12px 9px no-repeat;
}


.database-report {
  background: url(/icons/database_reports_0.svg) 12px 10px no-repeat;
}

.database-report.active {
  background: url(/icons/database_reports.svg) 12px 10px no-repeat;
}

.legal-watchlist {
  background: url(/icons/legal_watchlist_0.svg) 12px 13px no-repeat;
}

.legal-watchlist.active {
  background: url(/icons/legal_watchlist.svg) 12px 13px no-repeat;
}

.aging {
  background: url(/icons/help.png) 12px 10px no-repeat;
}

.aging.active {
  background: url(/icons/help.png) 12px 10px no-repeat;
}

/* .aging {}
.aging.active {} */
/* .status-needsAction {}

.private_comment {
  color: lightGrey;
}

.delete_comment {
  margin-left: 15px;
  margin-bottom: -5px;
}

.status-cancelled {} */

.popup_title {
  font-size: '24px';
  font-weight: 500;
}

.lofin_form {
  min-height: 100vh;
  background: url(/img/alliance_bg.svg) 50% 13% no-repeat;
  background-size: initial;
}

.login_wrap {
  max-width: 632px;
  margin: auto;
  padding: 80px 98px;
  -webkit-box-shadow: 0px 0px 18px 0px #b8b8b8;
  box-shadow: 0px 0px 18px 0px #b8b8b8;
  top: 50%;
  position: relative;
  background: #FFFFFF;
  /* -webkit-transform: translateY(-50%); */
  /* transform: translateY(-50%); */
  /* width: 100%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%);*/
}

.login_wrap input[type=password],
.login_wrap input[type=text] {
  font-size: 16px;
  color: #8A8A8A !important;
  padding: 13px 15px;
}

.btnlogin {
  font-weight: 500;
  font-size: 18px;
  padding: 13px 15px;
}

.fpass a {
  font-size: 18px;
  text-decoration: underline;
  color: #517BCC;
}

.fpass a:hover {
  text-decoration: none;
  transition: .5s;
}

.formContainer label {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 8px;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #F8F8F8;
  opacity: 1;
}

#dropdownMenuButton1 {
  padding-right: 0;
  width: 12px;
  padding-left: 0;
  margin-left: 17px;
}

#dropdownMenuButton1::after {
  display: none;
}

.user_nav .dropdown-menu.show {
  display: block;
  padding: 0;
}

.user_nav .dropdown-menu li {
  padding: 7px 2px 11px 47px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.user_nav .dropdown-menu li a {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #555B6E;
}

.aging_upload {
  background: url(/icons/aging.svg) 15px 10px no-repeat;
  background-size: 16px;
}

.logout {
  background: url(/icons/log_out.svg) 18px 13px no-repeat;
  background-size: 16px;
}

.logout a {
  color: #CF5A5A !important;
  cursor: pointer;
}

.myaccount {
  background: url(/icons/account.svg) 13px 10px no-repeat;
  background-size: 17px;
}

.order_fixed_nav {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.order_report_bottom {
  border-top: 1px solid #F2F2F2;
  padding-top: 20px;
  color: #517BCC;
  z-index: 9;
  padding-right: 25px;
  background: #FFF;
  padding-bottom: 20px;
}