.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.container {
  max-width: 100% !important;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-top: 102px;
}

/*Breadcrumb*/

.breadcrumb {
  margin-bottom: 16px;
}

.breadcrumb ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb ul li {
  display: inline-block;
  float: left;
  padding: 8px 16px;
}

.breadcrumb ul li a {
  padding: 0;
}

.back {
  background: #F1F1F1;
  padding: 0 !important;
}

.back a {
  display: block;
  text-indent: -999999px;
  width: 40px;
  height: 40px;
}

.subtitle {
  font-size: 24px;
  color: #517BCC;
  padding-top: 30px;
  padding-bottom: 15px;
}

.companyform {
  padding-top: 40px;
}

.chkox {
  border: 2px solid #E0E0E0;
  padding: 10px 15px;
  max-width: 100%;
}

.chkox input[type="checkbox"] {
  float: right;
}

.chkox .form-check {
  padding-left: 0;
}

/*Modal*/

.modal-title.h4 {
  color: #747474;
  font-weight: 400;
  font-size: 24px;
}

.modal-header {
  border-bottom: 0 !important;
  padding: 30px 40px 10px;
}

.modal-footer {
  border-top: 0 !important;
  padding-right: 40px;
  padding-bottom: 40px;
}

/*Navigation*/

header {
  border-bottom: 1px solid #F2F2F2;
  padding: 7px 0;
  margin-bottom: 20px;
  position: fixed;
  width: 96.9%;
  background: #FFF;
  top: 0;
  left: 24px;
  z-index: 9;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
}

/*User navigation*/

.user_nav {
  text-align: right !important;
}

.user_nav .hello, .user_nav .dropdown {
  display: inline-block;
}

.company_wrap {
  background: #FAFAFA;
  position: relative;
  padding: 16px;
}

.edit_company {
  position: absolute;
  top: 16px;
  right: 16px;
}

.add_company {
  position: absolute;
  top: -50px;
  right: 0px;
}

h1 {
  font-size: 56px;
  color: #517BCC;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.welcome, .subheading {
  font-size: 36px;
  color: #747474;
}

.gmsg {
  font-size: 18px;
  color: #747474;
  margin-bottom: 25px;
}

.form_wrap label {
  display: none;
}

.form_wrap button {
  width: 100%;
  margin-top: 25px;
}

.center_nav {
  text-align: center;
}

.logowrap {
  margin-bottom: 25px;
}

.msgwrap {
  background: #E6EEFF;
  color: #517BCC;
  font-size: 18px;
  padding: 10px 15px;
  margin-bottom: 30px;
}

h2 {
  color: #406DCD;
  font-size: 26px;
}

h4 {
  font-size: 24px;
  color: #465168;
}

/**Label and forms*/

label {
  font-size: 14px;
}

input[type=text] {
  font-size: 14px;
  line-height: 27px;
  background: #ddd;
}

.search {
  margin-bottom: 15px;
}

.search input[type=text] {
  max-width: 507px;
}

.search label {
  display: none;
}

/*Buttons*/
.btn1 {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.viewmore {
  background: #E6EEFF;
  font-family: Roboto;
  font-style: Medium;
  font-size: 14px;
  color: #406DCD;
  padding: 2px 10px;
}

.accept {
  background: #F0FFF3;
  font-family: Roboto;
  font-style: Medium;
  font-size: 14px;
  color: #388F46;
  padding: 2px 10px;
}

.addbtn {
  padding: 8px 20px;
  background: #406DCD;
  color: #FFF;
  font-size: 14px;
  width: 12em;
}

.resetPassBtn {
  padding: 8px 20px;
  background: #406DCD;
  color: #FFF;
  font-size: 14px;
}

.changePassBtn {
  padding: 8px 20px;
  background: #406DCD;
  color: #FFF;
  font-size: 14px;
}

.btnedit {
  background: #FFF;
  border: 1px solid #406DCD;
  color: #406DCD;
}

.btn_light {
  background: #FFF;
  border: 1px solid #E0E0E0;
  color: #406DCD;
}

.btnremove {
  background: #FFF;
  border: 1px solid #CF5A5A;
  color: #CF5A5A;
}

.btndelete {
  background: #FFE6E6;
  /* border: 1px solid #CF5A5A; */
  color: #CF5A5A;
  padding: 1px 11px;
}

.legal_upload {
  font-size: 16px;
  padding: 12px 32px 12px 64px;
  color: #FFF;
  background: #517BCC url(/icons/upload-white.svg) 16px 12px no-repeat;
  background-size: 20px;
}

.bottom_gap {
  margin-bottom: 24px;
}

.inactivebtn {
  background: #CF5A5A;
  font-family: Roboto;
  /* font-style: Medium; */
  font-size: 14px;
  color: #FFF;
  padding: 1px 6px;
}

.canceled,
.download,
.incorporate,
.bank,
.bank_error,
.incorporate_download,
.bank_download,
.legal,
.supplier_download,
.supplier,
.new,
.processing,
.completed,
.upload,
.need_action {
  font-size: 14px;
}

.incorporate.success {
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
  color: #388F46;
}

.incorporate.warning {}


.download {

  line-height: 21px;
  background: #40B753 url(/icons/download-report-white.svg) 95% 4px no-repeat;
  padding: 2px 34px 2px 10px;
  color: #FFF;
}

.download:disabled {
  background: #F1F1F1 url(/icons/download-report.svg) 95% 4px no-repeat;
  padding: 2px 34px 2px 10px;
  color: #C4C4C4;
}

.upload,
.new,
.processing,
.completed,
.canceled,
.need_action {
  color: #FFF;
  padding: 2px 5px;
}

.incorporate {
  color: #CC9326;
  /* background: #FFFAF0; */
  background: #FFFAF0 url(/icons/report-processing.svg) 95% 4px no-repeat;
  padding: 2px 34px 2px 10px;
}

.incorporate_download {
  color: #388F46;
  background: #E6FFEB;
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
  padding: 2px 34px 2px 10px;
}

.bank {}

.bank_warning {
  color: #CF5A5A;
  background: #FFE6E6 url(/icons/download-report-green.svg) 95% 4px no-repeat;
  padding: 2px 34px 2px 10px;
}

.bank_download {
  color: #388F46;
  /* background: #E6FFEB; */
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
  padding: 2px 34px 2px 10px;
}

.legal {
  color: #388F46;
  /* background: #E6FFEB; */
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
  padding: 2px 34px 2px 10px;
}

.supplier {
  color: #388F46;
  /* background: #E6FFEB; */
  background: #E6FFEB url(/icons/download-report-green.svg) 95% 4px no-repeat;
  padding: 2px 34px 2px 10px;
}

.upload {
  color: #FFF;
  background: #50C262;
}

.upload.success {
  background: #50C262;
}

.upload.error {
  background: #FF0000;
}

.upload.info {
  background: #FFAA04;
}

.new {
  background: #2875CF;
}

.processing {
  background: #FFA700;
}

.completed {
  background: #40B753;
}

.canceled {
  background: #000;
  color: #FFF;
}

.need_action {
  background: #CF5A5A;
}

.downarrow {
  border: 0;
  padding: 0;
  width: 22px;
  height: 22px;
  background: #E6EEFF url(/icons/down-arrow.svg) 50% 50% no-repeat;
  background-size: 12px;
}



.active {
  border-bottom: 3px solid #517BCC;
}

.clearB {
  clear: both;
}

.imagewrap {
  float: left;
  width: 95px;
  height: 95px;
  border-radius: 100%;
  overflow: hidden;
  background: #000;
  margin-right: 15px;
  margin-bottom: 15px;
}

.rightdata {
  margin-left: 110px;
  padding-top: 15px;
}

.popupContent {
  padding: 0 25px;
}

.cemail {}

.cphone {}

.subcompany_wrap {
  position: relative;
}

.caddress {
  margin-bottom: 30px;
}

.caddress p {
  margin-bottom: 3px;
}

.colbox2 span {
  width: 200px;
  display: inline-block;
}

.sub-company {
  font-size: 24px;
  font-weight: 400;
  padding-top: 35px;
  margin-bottom: 16px;
}

.subcompany_wrap .company_wrap {
  margin-bottom: 16px;
}

.cemail,
.cphone,
.caddress {
  padding-left: 25px;
  position: relative;
}

.cemail::before,
.cphone::before,
.caddress::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 15px;
  height: 15px;
}


.cemail::before {
  background: url(/icons/Mail.svg) no-repeat;
}

.cphone::before {
  background: url(/icons/Phone.svg) no-repeat;
}

.caddress::before {
  background: url(/icons/Location.svg) no-repeat;
}


/* company form*/

.companyform .row {
  margin-bottom: 16px;
}

.popupform {
  padding: 0 50px;
}

.popupform .row {
  margin-bottom: 16px;
}

/*Grid*/

.listing th {
  color: #4D4D4D;
  font-size: 16px;
  background: #FBFBFB;
  padding: 17px 10px;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
  font-weight: 500;
}

.listing th span {
  display: inline-block;
  position: relative;
  padding: 0 10px 0 0;
}

.listing th.sorted span:before,
.listing th.sorted span:after {
  content: "";
  position: absolute;
  right: 0;
  width: 5px;
  height: 5px;

  background-size: 5px !important;
}

.listing th.sorted span:before {
  background: url(/icons/sort-u.svg) no-repeat;
  top: 8px;
}

.listing th.sorted span:after {
  background: url(/icons/sort-d.svg) no-repeat;
  top: 14px;
}

.listing th.sorted.descending span:before {
  background: url(/icons/sort-u.svg) no-repeat;
  top: 10px;
}

.listing th.sorted.descending span::after {
  display: none;
}


.listing th.sorted.ascending span:after {
  background: url(/icons/sort-d.svg) no-repeat;
  top: 10px;
}

.listing th.sorted.ascending span:before {
  display: none;
}

/*   */

.listing td {
  color: #323232;
  font-size: 16px;
  background: #FFF;
  padding: 16px 10px;
  border-bottom: 1px solid #F2F2F2;
}

.listing .table-striped>tbody>tr:nth-of-type(odd) {
  --bs-table-accent-bg: #FFF;
  color: #323232;
  border-top: 0px;
}

.listing .table> :not(:first-child) {
  border-top: 0px solid currentColor;

}

.table> :not(:last-child)> :last-child>* {
  border-bottom-color: #F2F2F2;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: rgb(255 255 255 / 5%);
  color: #323232;
}

.buttongroups_wrap {
  width: 619px;
}

.buttongroups>div {
  margin-right: 10px;
  float: left;
}

.role {
  display: inline-block;
  max-width: 160px;
  margin-right: 20px;
}

.status {
  display: inline-block;
  /* max-width: 180px; */
  width: 100%;
  margin-right: 20px;
}

.select_date {
  display: inline-block;
  width: 363px;
  margin-right: 20px;
}

.select_date input[type=text] {
  width: 100%;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.f1 {
  display: inline-block;
  max-width: 200px;
  margin-right: 20px;
}

/**Company tab Nav*/

.company_nav_inner, .company_nav {
  border-bottom: 1px solid #E6EEFF;
}

.company_nav {
  margin-bottom: 16px;
}

.company_blocks {
  padding-bottom: 30px;
}

.company_nav_inner .nav-link {
  padding: 16px 25px;
}

.inner_search {
  padding: 15px;
  margin-bottom: 0px !important;
}

.admin_moreinfo button {
  margin-left: 16px;
}

.more_info_wrap table,
.more_info_wrap table td {
  border: 0;
}

.info_price,
.info_unit,
.info_manual {
  font-size: 14px !important;
}


.info_price strong,
.info_unit strong,
.info_manual strong {
  font-size: 16px !important;
}

.info_manual {
  width: 100px;
  color: #517BCC !important;
  width: 120px;
  vertical-align: top;
}

textarea {
  border: 1px solid #517BCC;
}

.modal-footer.flexstart {
  justify-content: flex-start;
}

.info_price {
  width: 150px;
  color: #3B4A68 !important;

}

.info_unit {
  width: 120px;
  color: #517BCC !important;

}

h5 {
  font-size: 18px;
  color: #747474;
}

h6 {
  font-size: 18px;
  color: #3B4A68;
}

p {
  color: #323232;
  font-size: 16px;
}

p.warning {
  color: #CF5A5A;
}

p small {
  color: #3B4A68;
  font-size: 10px;
}

.comments_item_wrap {
  padding: 16px 16px 0;
}

.comments_items {
  background: #FBFBFB;
  padding: 15px;
  border-bottom: 1px solid #F2F2F2;
}

.comments_items:last-child {
  border-bottom: 0;
}

.header_wrap {
  position: relative;
}

/* .comments_wrapper {
  padding: 16px;
} */

.comments_wrapper,
.more_info_wrap {
  background: #FBFBFB;
  border: 1px solid #F2F2F2;
}

td.comments_indent {
  padding: 15px 0;
  border-bottom: 0;
}

.post_status_wrap {
  width: 120px;
}

.post_add_wrap {
  width: 60px;
}

/*My account*/

.myaccount {}

.acc_title {
  color: #517BCC;
  font-size: 20px;
}

.login_name {
  font-size: 24px;
  color: #3B4A68;
}

.acc_email, .acc_phone {
  font-size: 18px;
  color: #3B4A68;
}

.sidebarwrap_inner {
  position: relative;
  min-height: 75vh;
  border: 1px solid #E5E5E5;
  /* padding: 15px; */
}

.sidebarwrap {
  position: relative;
  min-height: 75vh;
  border: 1px solid #E5E5E5;
  padding: 15px;
}

.sidebarwrap .logoutbtn {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.alignBottom {
  position: absolute;
  bottom: 0px;
}

.ac_left {
  float: left;
}

.ac_right {
  float: right;
  padding-bottom: 10px;
}

/* for the dropdown month selector in aging */
.react-datepicker-popper {
  background-color: white;
  border: solid 1px blue;
  padding: 4px;
}

.error {
  background-color: #FFE6E6;
  border: dashed 1px #CF5A5A;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

/*Order new reports*/
.order_reportwrap {
  border-top: #F2F2F2;
}

.order_report_right {
  padding-top: 15px;
  padding-bottom: 50px;
}

.order_report_left {
  background: #FAFAFA;
}

.report_steps {

  padding: 100px 0 0px 80px;
}

.report_steps>div {
  padding-bottom: 100px;
}

.select_report {
  margin-bottom: 20px;
  height: 245px;
}

.select_report>div {
  float: left;
  width: 200px;
  height: 200px;
  margin-right: 20px;
  position: relative;
  background: #EFEFEF;
}

.select_report figure {
  text-align: center;
  display: block;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.select_report caption {
  position: absolute;
  bottom: -50px;
  text-align: center;
  width: 100%;
  font-size: 18px;
  color: #517BCC;
}